*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
}
body{
  height: 100vh;
  background-image: linear-gradient(#D8C7FF, #19006C);
  padding: 1.5rem;
  /* display: flex;
  justify-content: center; */
  
}